body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  position: sticky;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  box-sizing: 2px 5px 5px #ddd;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.map-wrapper {
  width: 100%;
}

.map {
  width: 100%;
  height: 100%;
  position: relative;
}

.leaflet-container {
  height: 400px;
}
